 <div class="posts">
    <%= link_to user_post_path(post.author_id, post.id) do %>
     
        <div class="post_title"><%= post.title %></div>
        <div class="post_text"><%= post.text %></div>
          <div class="post_comments">Comments: <%= post.comments_counter %></div>
          <div class="post_likes">Likes: <%= post.likes_counter %></div>
    
    <% end %>

  <%= form_with model: @comments, url: user_post_comments_path(user.id, post), method: :post, local: true, scope: :user_post_comments do |form| %>

  <div>
    <%= form.text_field :text, placeholder: "Comment text" %>
  </div>

  <%= form.submit value: 'Add comment' %>
<% end %>
 <%= form_with model: @likes, url: user_post_likes_path(user.id, post), method: :post, local: true, scope: :user_post_likes do |form| %>

      <%= form.submit value: 'Add Like' %>
      
    <% end %>
</div>
  </div>
