
<section class="all_users">
    <%= link_to user_path(user.id) do %>
<div class = users>
      <div class="photo">
        <img src=<%= user.photo %> alt=<%= user.name %>>
      </div>
      <div class="user_container">
        <div class="user_name"><%= user.name %></div>
        <div class="user_posts">Number of Posts: <%= user.post_counter %></div>
        </div>
        </div>
    <% end %>
    </section>