<div class="post">
  <div>
    <h1 class= "comment_title"><%= @posts.title %> by Lilyn </h1>
    <p class = "counter">Comments <%= @posts.comments_counter%>, Likes <%= @posts.likes_counter%></p>
  </div>
  <p class= 'text'><%= @posts.text %></p>
</div>

 <%= render 'comments/form' %>
  <%= form_with url: user_post_likes_url(@users, @posts), method: 'post' do |f| %>
    <div>
      <%= f.submit 'Like' %>
    </div>
  <% end %>
  <ul class="post__comments">
    <%= render @comments %>
  </ul>
</div>


