<div class="card m-3">
  <div class="body">
    <h5 class="card"><%= @post.title %> by <%= @post.author.name %></h5>
    <p><small>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></small></p>
    <p><%= @post.text %></p>
  </div>
</div>
 <div class="comments">
  <ul>
    <% Comment.all.each do |comment| %>
      <li class= 'comments'><%= comment.author.name %>: <%= comment.text%></li>
    <% end %>
  </ul>
</div>