<div class="post">
  <div>
    <h1><%= @posts.title %> by Lilyn </h1>
    <p>Comments <%= @posts.comments_counter%>, Likes <%= @posts.likes_counter%></p>
  </div>
  <p><%= @posts.text %></p>
</div>

<div class="comments">
  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.author.name %>: <%= comment.text%></li>
    <% end %>
  </ul>
</div>

